{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jam</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <div class="left">
            <h1>PingulJam Systems</h1>
        </div>
        <div class="right">
            <a href="#">Log in</a>
            <a href="#">Sign up</a>
        </div>
    </nav>

    <div class="welcome">
        <h2>Welcome</h2>
        <p>David Bojalil Abiti</p>
        <p>Naomi Díaz Hurtado</p>
        <p>Iñigo Quintana Delgadillo</p>
    </div>
</body>
</html>
