{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="contenedor">
            <img src="mermelada_django\jamjam\static\img\user.png" alt="icon"> <h2>Sign up</h2>
            <form action="#">
                <input class="name" type="text" name="nombre" placeholder="Name" required>
                <input class="lastname" type="text" name="apellido" placeholder="Last name" required>
                <input class="email" type="email" name="email" placeholder="Email adress" required>
                <input class="password" type="password" name="password" placeholder="Password" required>
                <input class="password" type="password2" name="password2" placeholder="Confirm password" required>
                <button class="sign" type="submit">Sign up</button>
            </form>
        </div>
    </div>

</body>
</html>
