{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Jam</title>
</head>

<body>
    <nav>
        <div class="left">
            <h1>Frambu Systems</h1>
        </div>
        <div class="right">
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'products' %}">Products</a>
            <a href="#">Sign up</a>
        </div>
    </nav>

    <div class="welcome">
        <h2>Welcome</h2>
        <p>When it comes to jams, we're the nation's pride, with flavors that will make you open wide.</p>
        <img src="{% static 'img/jam.png' %}" alt="Jam" class="jam-image">
    </div>
</body>
</html>
