{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/lot.css' %}">
    <title>Lotes</title>
</head>
<body>
    <h1>Lotes</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Elementos</th>
                <th>Productos</th>
                <th>Costo de producción</th>
                <th>Fecha de Vencimiento</th>
                <th>Control de calidad</th>
                <th>Máquina</th>
                <th>Orden</th>
                <th>Última actualización</th>
                <th>Registro</th>
            </tr>
        </thead>
        <tbody>
            {% for lot in lots %}
            <tr>
                <td>{{ lot.id }}</td>
                <td>{{ lot.stock }}</td>
                <td>{{ lot.product_ID }}</td>
                <td>{{ lot.production_Cost }}</td>
                <td>{{ lot.expiry_Date }}</td>
                <td>
                    {% if lot.qualityStatus == True %}
                        Aprovado
                    {% else %}
                        No Aprovado
                    {% endif %}
                </td>
                <td>{{ lot.machine_id.progresField }} %</td>
                <td>
                    {% if lot.machine_id.progresField < 100 %}
                        Orden Pendiente
                    {% else %}
                        Orden Lista
                    {% endif %}
                </td>
                <td>{{ lot.updated_at }}</td>
                <td>{{ lot.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
