{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Manager Dashboard</title>
</head>
<body>
    <div class="sidebar">
        <h1>MANAGER </h1>
        <br>
        <nav class="nav flex-column">
            <a class="nav-link" href="{% url 'production_status' %}"><ion-icon name="speedometer-outline"></ion-icon>Manage Production Line</a>
            <a class="nav-link" href="{% url 'flavor_crud' %}"><ion-icon name="ice-cream-outline"></ion-icon>Manage Flavors</a>
            <a class="nav-link" href="{% url 'manage_products' %}"><ion-icon name="cube-outline"></ion-icon>Manage Products</a>
            <a class="nav-link" href="{% url 'lots' %}"><ion-icon name="layers-outline"></ion-icon>Manage Lots</a>
            <a class="nav-link" href="{% url 'rawMaterial' %}"><ion-icon name="leaf-outline"></ion-icon> Manage Raw Materials</a>
            <a class="nav-link" href="{% url 'distribution' %}"><ion-icon name="bus-outline"></ion-icon> Manage Distributions</a>
            <a class="nav-link" href="{% url 'users' %}"><ion-icon name="person-add"></ion-icon> Manage Users</a>
            <a class="nav-link" href="{% url 'profile' %}"><ion-icon name="person"></ion-icon> User Configuration</a>
            <a class="nav-link" href="{% url 'logout' %}"><ion-icon name="log-out-outline"></ion-icon> Logout</a>
        </nav>
    </div>
    <div class="main-content">
        <header class="d-flex justify-content-between align-items-center">
            <h2>Welcome, {{ user.username}}</h2>
            <button class="btn btn-danger" onclick="location.href='{% url 'logout' %}'">
                <ion-icon name="log-out-outline"></ion-icon> Log out
            </button>
        </header>
        <section class="orders mt-4">
            <h3>Lots:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Elementos</th>
                        <th>Productos</th>
                        <th>Costo de producción</th>
                        <th>Fecha de Vencimiento</th>
                        <th>Control de calidad</th>
                        <th>Máquina</th>
                        <th>Orden</th>
                        <th>Última actualización</th>
                        <th>Registro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lot in lots %}
                    <tr>
                        <td>{{ lot.id }}</td>
                        <td>{{ lot.user_ID.id }}</td>
                        <td>{{ lot.stock }}</td>
                        <td>{{ lot.product_ID }}</td>
                        <td>{{ lot.production_Cost }}</td>
                        <td>{{ lot.expiry_Date }}</td>
                        <td>{{ lot.qualityStatus|yesno:"Aprovado,No Aprovado" }}</td>
                        <td>{{ lot.machine_id.progresField }} %</td>
                        <td>{{ lot.machine_id.progresField|yesno:"Orden Lista,Orden Pendiente" }}</td>
                        <td>{{ lot.updated_at }}</td>
                        <td>{{ lot.created_at }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11">No lots available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
