{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <title>Products</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Products Available</h1>
        <!-- Aquí se muestran los productos-->
        <ul class="list">
            {% for product in products %}
            <li>{{product.name}} - ${{product.price}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
