{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/user.css' %}">
     <title>Document</title>
</head>
<body>
     <div class="center-content">
          <div class="container">
               <h1>Profile</h1>
               <img src="https://thispersondoesnotexist.com/" alt="profile">
               <div class="profile-info">
                    <p>Profile: {{user.user.username}}</p>
                    <p>E-mail: {{user.user.email}}</p>
                    <p>User Type: 
                         <span class="user-type">
                              {% if user.is_manager %}
                                   Manager
                              {% elif user.user.is_superuser %}
                                   Superuser
                              {% else %}
                                   Client
                              {% endif %}
                         </span>
                    </p>
                    <p>Id: {{user.user.id}}</p>
                    <p>Register: {{user.user.date_joined}}</p>
               </div>
               <a href="{% url 'change_user' %}">Edit</a>
               <hr>
               <a href="{% url 'home' %}">Home</a>
          </div>
     </div>
 </body>
 </html>