<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <h1>Users</h1>
     <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>User type</th>
                  <th>Username</th>
                  <th>Last login</th>
                  <th>Date joined</th>
              </tr>
          </thead>
          
          <tbody>
               {% for user in users %}
                    <tr>
                         <td>{{ user.id }}</td>
                         <td>
                              {% if user.is_manager %}
                                   Manager
                              {% elif user.user.is_superuser %}
                                   Staff
                              {% else %}
                                   Client
                              {% endif %}
                         </td>
                         <td>{{ user.user.username }}</td>
                         <td>{{ user.user.last_login }}</td>
                         <td>{{ user.user.date_joined }}</td>
                    </tr>
               {% endfor %}
          </tbody>
     </table>
</body>
</html>