/* distribution.css */

/* Estilo básico para la tabla */
#tabla-distribuciones {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabla-distribuciones th,
#tabla-distribuciones td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla-distribuciones th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Estilo para las filas alternas */
#tabla-distribuciones tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para las celdas de estado */
#tabla-distribuciones td.estado {
    color: white;
    font-weight: bold;
    text-align: center;
}

#tabla-distribuciones td.estado.activo {
    background-color: green;
}

#tabla-distribuciones td.estado.inactivo {
    background-color: red;
}


.user-header {
    background-color: #4a4a4a;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.user-header h1 {
    color: #ff9500;
    font-size: 24px;
    margin-bottom: 5px;
}

.user-header p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.user-header .logout {
    font-size: 16px;
    color: #dc3545;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    background: transparent;
}
