body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("/static/img/mermelada.jpeg");
}

.contenedor {
    background: #f1f7fe;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 2em;
    height: 600px;
    margin-left: 650px;
    position: fixed;
    width: 15%; 
}

.formulario {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.formulario img {
    display: block;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.contenedor .name {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
  margin-top: 1;
}

.contenedor .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: 1;
}
.contenedor .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: 1;
  }

  .contenedor .lastname {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: 1;
  }

  .contenedor .sign {
    padding: 1em;
    background-color: #FA645A;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 60%;
  }
  .contenedor .sign:hover {
    padding: 1em;
    background-color: #ef9993;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
  }


  .user-header {
    background-color: #4a4a4a;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.user-header h1 {
    color: #ff9500;
    font-size: 24px;
    margin-bottom: 5px;
}

.user-header p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.user-header .logout {
    font-size: 16px;
    color: #dc3545;
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    background: transparent;
}
