body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left h1 {
  margin: 0;
}

.right a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.welcome {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .left h1 {
    font-size: 18px;
  }
  .right a {
    font-size: 14px;
  }
}

.jam-image {
  width: 200px; 
  height: auto; 
  margin-bottom: 20px;
}

a.strong-link {
  color: #000; /* Set your desired color */
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Keeps text bold as you originally had with <strong> */
}

a.strong-link:hover {
  color: #555; /* Color change on hover */
  text-decoration: underline; /* Optionally add underline on hover */
}


.user-header {
  background-color: #4a4a4a;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
}

.user-header h1 {
  color: #ff9500;
  font-size: 24px;
  margin-bottom: 5px;
}

.user-header p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
}

.user-header .logout {
  font-size: 16px;
  color: #dc3545;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  background: transparent;
}
